{% extends "base.html.twig" %}

{% block title %}Créer un article
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron text-center">
            <h1>Créer un article</h1>
            <div class="alert alert-light">
                {{form_start(form)}}
                {{form_row(form.title, { 'attr': {'placeholder': 'Titre de l\'article'} })}}
                 {{form_row(form.content, { 'attr': {'placeholder': 'Contenu de l\'article'} })}}
                {{form_row(form.image, { 'attr': {'placeholder': 'Adresse de l\'image de l\'article'} })}}
                <button class="btn btn-primary">Enregistrer l'article</button>
                {{form_end(form)}}
            </div>
        </div>
    </div>

{% endblock %}
